Repository enisn/UraniumUI, pull requests merged in 2022-09, with the labels that each got.

#3 DataGrid Selection Support
  demo/UraniumApp/Pages/DataGrids/CustomDataGridPage.xaml
  demo/UraniumApp/Pages/DataGrids/SelectableDataGridPage.xaml
  demo/UraniumApp/Pages/DataGrids/SelectableDataGridPageViewModel.cs
  docs/en/themes/material/components/DataGrid.md
  docs/en/themes/material/components/images/datagrid-selection-android.gif
  docs/en/themes/material/components/images/datagrid-selection-deletion.gif
  docs/en/themes/material/components/images/datagrid-selection-windows.gif
  docs/en/themes/material/components/images/datagrid-selection.gif
  src/UraniumUI.Material/Controls/CellBindingContext.cs
  src/UraniumUI.Material/Controls/DataGrid.BindableProperties.cs
  src/UraniumUI.Material/Controls/DataGrid.cs
  src/UraniumUI.Material/Controls/DataGridSelectionColumn.cs
  src/UraniumUI.Material/Controls/IDataGridSelectionColumn.cs
  src/UraniumUI.Material/Resources/ThemeResource.xaml
  src/UraniumUI.Material/Resources/ThemeResource.xaml.cs
Labels: project-core, project-theme-material

#6 DataGrid collection changed optimization
  src/UraniumUI.Material/Controls/CellBindingContext.cs
  src/UraniumUI.Material/Controls/DataGrid.cs
  src/UraniumUI/UraniumBindableObject.cs
Labels: enhancement, project-theme-material

#7 DataGrid Multiple static column fix
  src/UraniumUI.Material/Controls/DataGrid.BindableProperties.cs
  src/UraniumUI.Material/Controls/DataGrid.cs
Labels: enhancement, project-theme-material

#8 Add Width to DataGrid Columns
  demo/UraniumApp/Pages/DataGrids/CustomDataGridPage.xaml
  docs/en/themes/material/components/DataGrid.md
  docs/en/themes/material/components/images/datagrid-column-width.png
  src/UraniumUI.Material/Controls/DataGrid.cs
  src/UraniumUI.Material/Controls/DataGridColumn.cs
Labels: feature, project-theme-material

#9 Implement material color palette
  demo/UraniumApp/App.xaml
  demo/UraniumApp/MainPage.xaml
  docs/en/theming/ColorSystem.md
  src/UraniumUI.Material/Resources/ThemeResource.xaml
  src/UraniumUI/Resources/ColorResource.xaml
Labels: project-core, project-theme-material

#10 Inheritance between resource dictionaries
  demo/UraniumApp/App.xaml
  demo/UraniumApp/MainPage.xaml
  docs/en/Getting-Started.md
  docs/en/theming/ColorSystem.md
  src/UraniumUI.Material/Controls/DataGridSelectionColumn.cs
  src/UraniumUI.Material/Resources/ColorResource.xaml
  src/UraniumUI.Material/Resources/ColorResource.xaml.cs
  src/UraniumUI.Material/Resources/StyleResource.xaml
  src/UraniumUI.Material/Resources/StyleResource.xaml.cs
  src/UraniumUI.Material/UraniumUI.Material.csproj
  src/UraniumUI/Resources/ColorResource.xaml
  src/UraniumUI/Resources/StyleResource.xaml
  src/UraniumUI/Resources/ThemeResource.xaml
  src/UraniumUI/Resources/ThemeResource.xaml.cs
  src/UraniumUI/UraniumUI.csproj
  templates/default/MyCompany.MyProject/App.xaml
  templates/default/MyCompany.MyProject/MyCompany.MyProject.csproj
Labels: project-core, project-theme-material

#11 Add 5 level elevation
  demo/UraniumApp/AppShell.xaml
  demo/UraniumApp/MainPage.xaml
  demo/UraniumApp/Pages/ElevationsPage.xaml
  demo/UraniumApp/Pages/ElevationsPage.xaml.cs
  docs/en/docs-nav.json
  docs/en/themes/material/Elevation.md
  docs/en/themes/material/images/elevation-all-demo.png
  docs/en/themes/material/images/elevation-single-demo.png
  src/UraniumUI.Material/Resources/StyleResource.xaml
  src/UraniumUI/Resources/ColorResource.xaml
Labels: documentation, feature, project-theme-material

#12 Material Buttons Implementation
  demo/UraniumApp/AppShell.xaml
  demo/UraniumApp/Pages/ButtonsPage.xaml
  demo/UraniumApp/Pages/ButtonsPage.xaml.cs
  demo/UraniumApp/Pages/ElevationsPage.xaml
  docs/en/themes/material/Buttons.md
  docs/en/themes/material/images/buttons-hover.gif
  docs/en/themes/material/images/buttons-preview-dark.png
  docs/en/themes/material/images/buttons-preview.png
  src/UraniumUI.Material/Resources/ColorResource.xaml
  src/UraniumUI.Material/Resources/StyleResource.xaml
  src/UraniumUI/Handlers/StatefulButtonHandler.cs
  src/UraniumUI/MauiProgramExtensions.cs
  src/UraniumUI/Theming/DynamicColor.cs
Labels: documentation, feature, project-core, project-theme-material

#13 CheckBoxes
  demo/UraniumApp/AppShell.xaml
  demo/UraniumApp/MainPage.xaml
  demo/UraniumApp/Pages/CheckBoxesPage.xaml
  demo/UraniumApp/Pages/CheckBoxesPage.xaml.cs
  docs/en/themes/material/CheckBox.md
  docs/en/themes/material/RadioButton
  docs/en/themes/material/images/checkbox-demo-dark.gif
  docs/en/themes/material/images/checkbox-demo-light.gif
  src/UraniumUI.Material/Controls/CheckBox.cs
  src/UraniumUI.Material/Controls/RadioButton.cs
  src/UraniumUI.Material/Controls/RadioButtonGroupView.cs
  src/UraniumUI.Material/Resources/StyleResource.xaml
  src/UraniumUI/UraniumUI.csproj
Labels: documentation, project-theme-material

#14 Datagrid EmptyView
  demo/UraniumApp/Pages/DataGrids/CustomDataGridPage.xaml
  demo/UraniumApp/Pages/DataGrids/CustomDataGridPageViewModel.cs
  demo/UraniumApp/Pages/DataGrids/SelectableDataGridPage.xaml
  demo/UraniumApp/Pages/DataGrids/SelectableDataGridPageViewModel.cs
  docs/en/themes/material/components/DataGrid.md
  docs/en/themes/material/components/images/datagrid-emptyview-desktop-light.gif
  src/UraniumUI.Material/Controls/DataGrid.BindableProperties.cs
  src/UraniumUI.Material/Controls/DataGrid.cs
Labels: project-theme-material

#15 Use binding for selections
  src/UraniumUI.Material/Controls/CellBindingContext.cs
  src/UraniumUI.Material/Controls/DataGrid.cs
  src/UraniumUI.Material/Controls/DataGridSelectionColumn.cs
Labels: enhancement, project-theme-material

#17 Update template
  templates/default/.template.config/template.json
  templates/default/MyCompany.MyProject/App.xaml
  templates/default/MyCompany.MyProject/MainPage.xaml
  templates/default/MyCompany.MyProject/MainPageViewModel.cs
  templates/default/MyCompany.MyProject/MyCompany.MyProject.csproj
  templates/default/MyCompany.MyProject/Resources/Styles/MaterialColorOverride.xaml
  templates/default/MyCompany.MyProject/Resources/Styles/MaterialStyleOverride.xaml
Labels: project-template

#19 Material Dialogs
  demo/UraniumApp/AppShell.xaml
  demo/UraniumApp/MainPage.xaml.cs
  demo/UraniumApp/Pages/DialogsPage.xaml
  demo/UraniumApp/Pages/DialogsPage.xaml.cs
  demo/UraniumApp/Resources/AppIcon/appiconfg.svg
  demo/UraniumApp/Resources/Splash/splash.svg
  demo/UraniumApp/UraniumApp.csproj
  docs/en/Index.md
  docs/en/docs-nav.json
  docs/en/themes/material/Dialogs.md
  docs/en/themes/material/images/dialogs-checkboxes-dark-windows.png
  docs/en/themes/material/images/dialogs-checkboxes-light-android.png
  docs/en/themes/material/images/dialogs-checkboxes-parameters.png
  docs/en/themes/material/images/dialogs-radiobutton-dark-windows.png
  docs/en/themes/material/images/dialogs-radiobutton-light-android.png
  docs/en/themes/material/images/dialogs-radiobuttons-parameters.png
  docs/en/themes/material/images/dialogs-text-dark-windows.png
  docs/en/themes/material/images/dialogs-text-light-android.png
  src/UraniumUI.Material/Controls/TabView.cs
  src/UraniumUI.Material/Resources/StyleResource.xaml
  src/UraniumUI/Extensions/DialogExtensions.cs
  src/UraniumUI/Resources/ColorResource.xaml.cs
  src/UraniumUI/Resources/StyleResource.xaml
  templates/uranium-material-resources/MaterialResourceStyle.xaml
Labels: feature

#20 Dialogs apple fix
  demo/UraniumApp/MainPage.xaml.cs
  demo/UraniumApp/Pages/DialogsPage.xaml
  src/UraniumUI/Extensions/DialogExtensions.cs
Labels: enhancement, project-core

#21 Material text field
  demo/UraniumApp/MainPage.xaml
  demo/UraniumApp/MainPage.xaml.cs
  docs/en/docs-nav.json
  docs/en/themes/material/components/InputField.md
  docs/en/themes/material/components/TabView.md
  docs/en/themes/material/components/TextField.md
  docs/en/themes/material/components/images/inputfield-demo-custom.gif
  docs/en/themes/material/components/images/inputfield-demo-timepicker.png
  docs/en/themes/material/components/images/textfield-demo-dark-windows.gif
  docs/en/themes/material/components/images/textfield-demo-light-android.gif
  src/UraniumUI.Material/Controls/InputField.cs
  src/UraniumUI.Material/Controls/TextField.BindableProperties.cs
  src/UraniumUI.Material/Controls/TextField.cs
  src/UraniumUI/MauiProgramExtensions.cs
  src/UraniumUI/UraniumUI.csproj
Labels: project-theme-material

#26 Complete Unit Tests
  UraniumUI.sln
  src/UraniumUI.Material/Controls/TextField.BindableProperties.cs
  src/UraniumUI.Material/Controls/TextField.cs
  src/UraniumUI/UraniumUI.csproj
  test/UraniumUI.Material.Tests/Controls/TextField_Test.cs
  test/UraniumUI.Material.Tests/UraniumUI.Material.Tests.csproj
  test/UraniumUI.Material.Tests/Usings.cs
  test/UraniumUI.Tests.Core/AnimationReadyHandler.cs
  test/UraniumUI.Tests.Core/ApplicationExtensions.cs
  test/UraniumUI.Tests.Core/ApplicationHandlerStub.cs
  test/UraniumUI.Tests.Core/AsyncTicker.cs
  test/UraniumUI.Tests.Core/BlockingTicker.cs
  test/UraniumUI.Tests.Core/HandlersContextStub.cs
  test/UraniumUI.Tests.Core/MockApplication.cs
  test/UraniumUI.Tests.Core/TestAnimationManager.cs
  test/UraniumUI.Tests.Core/UraniumUI.Tests.Core.csproj
  test/UraniumUI.Tests.Core/Usings.cs
  test/UraniumUI.Tests.sln
  test/UraniumUI.Tests/UnitTest1.cs
  test/UraniumUI.Tests/UraniumUI.Tests.csproj
  test/UraniumUI.Tests/Usings.cs
Labels: test 🧪

#29 Add TimePickerField
  demo/UraniumApp/MainPage.xaml
  demo/UraniumApp/Pages/InputFieldsPage.xaml
  docs/en/docs-nav.json
  docs/en/themes/material/components/TimePickerField.md
  docs/en/themes/material/components/images/timepickerfield-demo-dark-windows.gif
  docs/en/themes/material/components/images/timepickerfield-demo-light-android.gif
  docs/en/themes/material/components/images/timepickerfield-formview-light-android.gif
  docs/en/themes/material/components/images/timepickerfield-icon-dark-android.png
  docs/en/themes/material/components/images/timepickerfield-icon-light-android.png
  docs/en/themes/material/components/images/timepickerfield-validation-dark-android.gif
  docs/en/themes/material/components/images/timepickerfield-validation-light-android.gif
  src/UraniumUI.Material/Controls/InputField.Validation.cs
  src/UraniumUI.Material/Controls/TextField.cs
  src/UraniumUI.Material/Controls/TimePickerField.cs
  src/UraniumUI/UraniumUI.csproj
  test/UraniumUI.Material.Tests/Controls/TimePickerField_Test.cs
Labels: feature, project-theme-material, control-timepickerfield

#30 InputField Validation Icon iOS improvement
  src/UraniumUI.Material/Controls/InputField.Validation.cs
Labels: platform-ios, control-textfield, control-pickerfield

#31 1.0 TimePickerField Unit Tests
  src/UraniumUI.Material/Controls/TimePickerField.cs
  test/UraniumUI.Material.Tests/Controls/TimePickerField_Test.cs
Labels: test 🧪, control-timepickerfield

#32 Add nullable support to TimePicker
  src/UraniumUI.Material/Controls/TimePickerField.cs
Labels: feature, control-timepickerfield

#33 Add CornerRadius to InputField
  src/UraniumUI.Material/Controls/InputField.cs
Labels: feature, project-theme-material, control-textfield, control-timepickerfield, control-datetimepickerfield

#34 Add DatePickerField
  demo/UraniumApp/MainPage.xaml
  demo/UraniumApp/Pages/InputFieldsPage.xaml
  docs/en/themes/material/components/DatePickerField.md
  docs/en/themes/material/components/TimePickerField.md
  docs/en/themes/material/components/images/datepickerfield-demo-dark-ios.gif
  docs/en/themes/material/components/images/datepickerfield-demo-light-android.gif
  docs/en/themes/material/components/images/datepickerfield-icon-dark-ios.gif
  docs/en/themes/material/components/images/datepickerfield-icon-light-android.gif
  docs/en/themes/material/components/images/datepickerfield-validation-dark-ios.gif
  docs/en/themes/material/components/images/datepickerfield-validation-light-android.gif
  src/UraniumUI.Icons.MaterialIcons/UraniumUI.Icons.MaterialIcons.csproj
  src/UraniumUI.Material/Controls/DatePickerField.cs
  src/UraniumUI.Material/Controls/InputField.Validation.cs
  src/UraniumUI.Material/Controls/InputField.cs
  src/UraniumUI.Material/Controls/TimePickerField.cs
  src/UraniumUI.Material/UraniumUI.Material.csproj
  src/UraniumUI/Pages/UraniumShapes.cs
  src/UraniumUI/UraniumUI.csproj
  test/UraniumUI.Material.Tests/Controls/DateField_Test.cs
  test/UraniumUI.Material.Tests/Controls/TimePickerField_Test.cs
Labels: feature, project-theme-material, control-datetimepickerfield

#35 Introduce PickerField
  demo/UraniumApp/MainPage.xaml
  demo/UraniumApp/Pages/TabViews/TabViewPage.xaml
  docs/en/docs-nav.json
  docs/en/themes/material/components/PickerField.md
  docs/en/themes/material/components/images/pickerfield-demo-dark-ios.gif
  docs/en/themes/material/components/images/pickerfield-demo-light-android.gif
  docs/en/themes/material/components/images/pickerfield-icon-dark-ios.gif
  docs/en/themes/material/components/images/pickerfield-icon-light-android.gif
  docs/en/themes/material/components/images/pickerfield-validation-light-android.gif
  src/UraniumUI.Material/Controls/DatePickerField.cs
  src/UraniumUI.Material/Controls/PickerField.cs
  test/UraniumUI.Material.Tests/Controls/DatePickerField_Test.cs
  test/UraniumUI.Material.Tests/Controls/PickerField_Test.cs
Labels: feature 🎉, theme-material 🎨, control-pickerfield

#44 Optimize DataGrid RowDefinitions
  src/UraniumUI.Material/Controls/DataGrid.cs
Labels: enhancement, control-datagrid

#45 Add a validation sample
  demo/UraniumApp/AppShell.xaml
  demo/UraniumApp/Pages/ValidationsPage.xaml
  demo/UraniumApp/Pages/ValidationsPage.xaml.cs
  demo/UraniumApp/ViewModels/ValidationsPageViewModel.cs
  src/UraniumUI.Material/Controls/CheckBox.cs
  src/UraniumUI.Material/Resources/StyleResource.xaml
  src/UraniumUI/Handlers/UraniumUIHandlersCollectionExtension.cs
  src/UraniumUI/UraniumUI.csproj
  templates/uranium-material-resources/MaterialResourceStyle.xaml
Labels: enhancement, validations ⚠️, project-demo

#47 Fix backdrop closing
  src/UraniumUI.Material/Attachments/BackdropView.cs
Labels: theme-material 🎨, attacment-backdrop

#49 Fix remaining background color of TabView after switched
  src/UraniumUI.Material/Controls/TabView.cs
Labels: control-tabview

#43 Introduce TreeView
  demo/UraniumApp/AppShell.xaml
  demo/UraniumApp/Pages/TreeViewPage.xaml
  demo/UraniumApp/Pages/TreeViewPage.xaml.cs
  demo/UraniumApp/ViewModels/TreeViewPageViewModel.cs
  docs/en/docs-nav.json
  docs/en/themes/material/components/TreeView.md
  docs/en/themes/material/components/images/treeview-demo-dark-windows.gif
  docs/en/themes/material/components/images/treeview-demo-light-android.gif
  docs/en/themes/material/components/images/treeview-itemtemplate-dark-windows.png
  docs/en/themes/material/components/images/treeview-itemtemplate-light-android.png
  docs/en/themes/material/components/images/treeview-selection-dark-windows.gif
  docs/en/themes/material/components/images/treeview-selection-light-android.gif
  src/UraniumUI.Material/Controls/TreeView.cs
  src/UraniumUI.Material/Controls/TreeViewHierarchicalSelectBehavior.cs
  src/UraniumUI.Material/Controls/TreeViewNodeHolderView.cs
  src/UraniumUI.Material/Extensions/TreeViewExtensions.cs
  src/UraniumUI/Extensions/ViewExtensions.cs
  src/UraniumUI/Pages/UraniumShapes.cs
  test/UraniumUI.Material.Tests/Controls/TreeView_Test.cs
Labels: feature 🎉, theme-material 🎨, control-treeview

#52 Add PackageInfo & Enable Source Linking
  common.props
Labels: infrastructure 🏗️

#56 1.0 treeview improvements
  demo/UraniumApp/Pages/TreeViewPage.xaml
  docs/en/themes/material/components/TreeView.md
  docs/en/themes/material/components/images/treeview-arrowcolor-dark-windows.png
  docs/en/themes/material/components/images/treeview-arrowcolor-light-android.png
  docs/en/themes/material/components/images/treeview-useanimation-dark-windows-disabled.gif
  docs/en/themes/material/components/images/treeview-useanimation-dark-windows-enabled.gif
  src/UraniumUI.Material/Controls/TreeView.cs
  src/UraniumUI.Material/Controls/TreeViewHierarchicalSelectBehavior.cs
  src/UraniumUI.Material/Controls/TreeViewNodeHolderView.cs
Labels: enhancement, theme-material 🎨, control-treeview

#57 TreeView Lazy-Loading
  demo/UraniumApp/AppShell.xaml
  demo/UraniumApp/Pages/TreeViewIndexPage.xaml
  demo/UraniumApp/Pages/TreeViewIndexPage.xaml.cs
  demo/UraniumApp/Pages/TreeViews/TreeViewFileSystemPage.xaml
  demo/UraniumApp/Pages/TreeViews/TreeViewFileSystemPage.xaml.cs
  demo/UraniumApp/Pages/TreeViews/TreeViewPage.xaml
  demo/UraniumApp/Pages/TreeViews/TreeViewPage.xaml.cs
  demo/UraniumApp/ViewModels/TreeViewFileSystemViewModel.cs
  docs/en/themes/material/components/TreeView.md
  docs/en/themes/material/components/images/treeview-filesystem-dark-windows.gif
  src/UraniumUI.Material/Controls/TreeView.cs
  src/UraniumUI.Material/Controls/TreeViewNodeHolderView.cs
Labels: feature 🎉, theme-material 🎨, control-treeview
