Repository enisn/UraniumUI, pull requests merged in 2023-11, with the labels that each got.

#473 fix UIHoverGestureRecognizer exception on iOS12
  src/UraniumUI.Material/Handlers/ButtonViewHandler.Apple.cs
  src/UraniumUI/Handlers/StatefulButtonHandler.cs
  src/UraniumUI/Handlers/StatefulContentViewHandler.cs
Labels: enhancement, infrastructure 🏗️

#479 Fix DataGrid separator ColumnSpan
  src/UraniumUI.Material/Controls/DataGrid.cs
Labels: enhancement, control-datagrid

#485 Add using DataTemplateSelector with TreeView
  demo/UraniumApp/Pages/TreeViews/TreeViewPage.xaml
  demo/UraniumApp/ViewModels/MyTemplateSelector/MyTemplateSelector.cs
  src/UraniumUI.Material/Controls/TreeViewNodeHolderView.cs
  src/UraniumUI.Material/Controls/TreeViewNodeItemContentView.cs
Labels: feature 🎉, control-treeview

#492 Add sorting algorithm to AutoCompleteView
  src/UraniumUI/Handlers/AutoCompleteViewHandler.Apple.cs
Labels: enhancement, control-autocompleteview

#486 Treeview line selection support (Single-Multiple)
  demo/UraniumApp/Converters/BoolToOpactityConverter.cs
  demo/UraniumApp/Converters/BooleanInverter.cs
  demo/UraniumApp/MauiProgram.cs
  demo/UraniumApp/Pages/TreeViews/TreeViewFileSystemPage.xaml
  demo/UraniumApp/Pages/TreeViews/TreeViewPage.xaml
  demo/UraniumApp/UraniumConverters.cs
  demo/UraniumApp/ViewModels/TreeViewFileSystemViewModel.cs
  demo/UraniumApp/ViewModels/TreeViewPageViewModel.cs
  src/UraniumUI.Material/Controls/TreeView.cs
  src/UraniumUI.Material/Controls/TreeViewHierarchicalSelectBehavior.cs
  src/UraniumUI.Material/Controls/TreeViewNodeHolderView.cs
  src/UraniumUI.Material/Resources/StyleResource.xaml
  src/UraniumUI/Extensions/ViewExtensions.cs
Labels: breaking-change 💔, feature 🎉, control-treeview

#495 Remove unnecessary Core resources
  src/UraniumUI/Resources/ColorResource.cs
  src/UraniumUI/Resources/ColorResource.xaml
  src/UraniumUI/Resources/StyleResource.xaml
  src/UraniumUI/Resources/StyleResource.xaml.cs
  src/UraniumUI/UraniumUI.csproj
Labels: project-core, infrastructure 🏗️

#496 Convert frames to border
  demo/UraniumApp/AppShell.xaml
  demo/UraniumApp/Pages/Backdrops/SimpleBackdropPage.xaml
  demo/UraniumApp/Pages/BottomSheets/ExpandingBottomSheetPage.xaml
  demo/UraniumApp/Pages/BottomSheets/RegularBottomSheetPage.xaml
  demo/UraniumApp/Pages/DataGrids/CustomDataGridPage.xaml
  demo/UraniumApp/Pages/FontImagesPage.xaml
  demo/UraniumApp/Pages/TabViews/CustomTabItemTabView.xaml
  demo/UraniumApp/Pages/TabViews/TabViewPage.xaml
  demo/UraniumApp/Pages/TabViews/WebTabViewPage.xaml
  src/UraniumUI.Dialogs.CommunityToolkit/CommunityToolkitDialogExtensions.cs
  src/UraniumUI.Dialogs.Mopups/MopupsDialogExtensions.cs
  src/UraniumUI.Material/Attachments/BottomSheetView.cs
  src/UraniumUI.Material/Controls/DataGrid.cs
  src/UraniumUI.Material/Resources/StyleResource.xaml
  src/UraniumUI/Pages/UraniumContentPage.cs
Labels: control-datagrid, attacment-backdrop, attachment-bottomsheet, core-uraniumcontentpage

#498 Add TreeView Selection documentation
  demo/UraniumApp/Pages/TreeViews/TreeViewPage.xaml
  docs/en/themes/material/components/TreeView.md
  docs/en/themes/material/components/images/treeview-selection-dark.gif
  docs/en/themes/material/components/images/treeview-selection-light.gif
  docs/en/themes/material/components/images/treeview-selection-multiple-dark.gif
  docs/en/themes/material/components/images/treeview-selection-multiple-light.gif
Labels: documentation 📄, control-treeview
