Repository enisn/UraniumUI, pull requests merged in 2023-01, with the labels that each got.

#184 AutoCompleteView ReturnCommand implementation
  src/UraniumUI.Material/Controls/AutoCompleteView.cs
  src/UraniumUI.Material/Controls/IAutoCompleteView.cs
  src/UraniumUI.Material/Handlers/AutoCompleteViewHandler.Android.cs
  src/UraniumUI.Material/Handlers/AutoCompleteViewHandler.Apple.cs
  src/UraniumUI.Material/Handlers/AutoCompleteViewHandler.Windows.cs
Labels: feature 🎉, control-autocompleteview

#185 Update styles for AutoCompleteTextField
  docs/en/migration-guides/Migrating-To-2.2.md
  src/UraniumUI.Material/Resources/StyleResource.xaml
  templates/app/MyCompany.MyProject/Resources/Styles/MaterialStyleOverride.xaml
  templates/uranium-material-resources/MaterialResourceStyle.xaml
Labels: theme-material 🎨, infrastructure 🏗️, theming 🖌️

#187 Update CommunityToolkit.Maui to `3.1.0`
  src/UraniumUI/UraniumUI.csproj
Labels: enhancement, infrastructure 🏗️

#188 Remove space in treeview nodes when there is no children
  src/UraniumUI.Material/Controls/TreeViewNodeHolderView.cs
Labels: enhancement, control-treeview

#192 Group DataGrid seperators with the following line instead of previous
  src/UraniumUI.Material/Controls/DataGrid.cs
Labels: enhancement, control-datagrid

#194 Update InputKit version to `4.2.2`
  src/UraniumUI/UraniumUI.csproj
Labels: infrastructure 🏗️

#195 Fix inputfield border calculation #132
  src/UraniumUI.Material/Controls/InputField.cs
Labels: enhancement, input-field-group

#196 Introduce EditorField (Multiline TextField)
  docs/en/themes/material/components/EditorField.md
  docs/en/themes/material/components/TextField.md
  docs/en/themes/material/components/images/editorfield-accentcolor-android-dark.gif
  docs/en/themes/material/components/images/editorfield-demo-android-dark.gif
  docs/en/themes/material/components/images/editorfield-demo-android-light.gif
  docs/en/themes/material/components/images/editorfield-icon-android-dark.png
  src/UraniumUI.Material/Controls/EditorField.BindableProperties.cs
  src/UraniumUI.Material/Controls/EditorField.cs
  src/UraniumUI.Material/Controls/InputField.cs
  templates/UraniumUI.Templates.csproj
  templates/app-blank/MyCompany.MyProject/MyCompany.MyProject.csproj
  templates/app/MyCompany.MyProject/MyCompany.MyProject.csproj
Labels: feature 🎉, input-field-group, control-editorfield

#201 Update demoapp with property editor
  demo/UraniumApp/App.xaml.cs
  demo/UraniumApp/AppShell.xaml
  demo/UraniumApp/MainPage.xaml
  demo/UraniumApp/MainPage.xaml.cs
  demo/UraniumApp/Pages/Backdrops/BackdropsIndexPage.xaml
  demo/UraniumApp/Pages/Backdrops/BackdropsIndexPage.xaml.cs
  demo/UraniumApp/Pages/Backdrops/SimpleBackdropPage.xaml
  demo/UraniumApp/Pages/BottomSheets/BottomSheetsIndexPage.xaml
  demo/UraniumApp/Pages/BottomSheets/BottomSheetsIndexPage.xaml.cs
  demo/UraniumApp/Pages/BottomSheets/ExpandingBottomSheetPage.xaml
  demo/UraniumApp/Pages/BottomSheets/ExpandingBottomSheetPage.xaml.cs
  demo/UraniumApp/Pages/BottomSheets/RegularBottomSheetPage.xaml
  demo/UraniumApp/Pages/CheckBoxesPage.xaml
  demo/UraniumApp/Pages/InputFields/AutoCompleteTextFieldPage.xaml
  demo/UraniumApp/Pages/InputFields/AutoCompleteTextFieldPage.xaml.cs
  demo/UraniumApp/Pages/InputFields/DatePickerFieldPage.xaml
  demo/UraniumApp/Pages/InputFields/DatePickerFieldPage.xaml.cs
  demo/UraniumApp/Pages/InputFields/PickerFieldPage.xaml
  demo/UraniumApp/Pages/InputFields/PickerFieldPage.xaml.cs
  demo/UraniumApp/Pages/InputFields/TextFieldPage.xaml
  demo/UraniumApp/Pages/InputFields/TextFieldPage.xaml.cs
  demo/UraniumApp/Pages/InputFields/TimePickerFieldPage.xaml
  demo/UraniumApp/Pages/InputFields/TimePickerFieldPage.xaml.cs
  demo/UraniumApp/Pages/TabViews/TabViewIndexPage.xaml
  demo/UraniumApp/Pages/TabViews/TabViewIndexPage.xaml.cs
  demo/UraniumApp/Pages/TabViews/TabViewPage.xaml
  demo/UraniumApp/Pages/TreeViewIndexPage.xaml
  demo/UraniumApp/Pages/TreeViewIndexPage.xaml.cs
  demo/UraniumApp/Pages/TreeViews/TreeViewFileSystemPage.xaml
  demo/UraniumApp/Pages/TreeViews/TreeViewPage.xaml
  demo/UraniumApp/PropertyEditorView.cs
  demo/UraniumApp/UraniumApp.csproj
  demo/UraniumApp/ViewModels/TreeViewFileSystemViewModel.cs
  src/UraniumUI/Pages/UraniumContentPage.cs
Labels: infrastructure 🏗️, project-demo

#203 Update InputKit version to `4.2.3`
  src/UraniumUI/UraniumUI.csproj
Labels: enhancement, infrastructure 🏗️

#206 #200 - add ordering for BackdropView icons
  demo/UraniumApp/Pages/Backdrops/SimpleBackdropPage.xaml
  src/UraniumUI.Material/Attachments/BackdropView.BindableProperties.cs
  src/UraniumUI.Material/Attachments/BackdropView.cs
Labels: feature 🎉, attacment-backdrop

#208 Update inputkit to `4.2.4`
  src/UraniumUI/UraniumUI.csproj
Labels: infrastructure 🏗️

#207 Introduce Separated Dialogs Implementation for Mopups & CommunityToolKit
  UraniumUI.sln
  demo/UraniumApp/MauiProgram.cs
  demo/UraniumApp/Pages/DialogsPage.xaml
  demo/UraniumApp/Pages/DialogsPage.xaml.cs
  demo/UraniumApp/UraniumApp.csproj
  demo/UraniumApp/ViewModels/ValidationsPageViewModel.cs
  docs/en/dialogs/Dialogs.md
  docs/en/dialogs/images/dialogs-checkboxes-dark-windows.png
  docs/en/dialogs/images/dialogs-checkboxes-light-android.png
  docs/en/dialogs/images/dialogs-checkboxes-parameters.png
  docs/en/dialogs/images/dialogs-radiobutton-dark-windows.png
  docs/en/dialogs/images/dialogs-radiobutton-light-android.png
  docs/en/dialogs/images/dialogs-radiobuttons-parameters.png
  docs/en/dialogs/images/dialogs-text-dark-windows.png
  docs/en/dialogs/images/dialogs-text-light-android.png
  src/UraniumUI.Dialogs.CommunityToolkit/CommunityToolkitDialogExtensions.cs
  src/UraniumUI.Dialogs.CommunityToolkit/CommunityToolkitDialogService.cs
  src/UraniumUI.Dialogs.CommunityToolkit/ServiceCollectionExtensions.cs
  src/UraniumUI.Dialogs.CommunityToolkit/UraniumUI.Dialogs.CommunityToolkit.csproj
  src/UraniumUI.Dialogs.Mopups/MopupsDialogExtensions.cs
  src/UraniumUI.Dialogs.Mopups/MopupsDialogService.cs
  src/UraniumUI.Dialogs.Mopups/MopupsDialogsServiceCollectionExtensions.cs
  src/UraniumUI.Dialogs.Mopups/UraniumUI.Dialogs.Mopups.csproj
  src/UraniumUI/Dialogs/DefaultDialogService.cs
  src/UraniumUI/Dialogs/IDialogService.cs
  src/UraniumUI/Handlers/StatefulButtonHandler.cs
  src/UraniumUI/MauiProgramExtensions.cs
  src/UraniumUI/UraniumUI.csproj
Labels: breaking-change 💔, feature 🎉, core-dialogs

#209 Update templates for new Dialogs abstraction
  src/UraniumUI.Dialogs.CommunityToolkit/UraniumUI.Dialogs.CommunityToolkit.csproj
  templates/app-blank/.template.config/ide.host.json
  templates/app-blank/.template.config/template.json
  templates/app-blank/MyCompany.MyProject/MauiProgram.cs
  templates/app-blank/MyCompany.MyProject/MyCompany.MyProject.csproj
  templates/app/.template.config/ide.host.json
  templates/app/.template.config/template.json
  templates/app/MyCompany.MyProject/MauiProgram.cs
  templates/app/MyCompany.MyProject/MyCompany.MyProject.csproj
Labels: project-template

#210 Update namespaces of Dialogs
  src/UraniumUI.Dialogs.CommunityToolkit/CommunityToolkitDialogExtensions.cs
  src/UraniumUI.Dialogs.CommunityToolkit/CommunityToolkitDialogService.cs
  src/UraniumUI.Dialogs.CommunityToolkit/ServiceCollectionExtensions.cs
  src/UraniumUI.Dialogs.Mopups/MopupsDialogExtensions.cs
  src/UraniumUI.Dialogs.Mopups/MopupsDialogService.cs
  src/UraniumUI.Dialogs.Mopups/MopupsDialogsServiceCollectionExtensions.cs
  templates/app-blank/MyCompany.MyProject/MauiProgram.cs
Labels: enhancement, core-dialogs

#212 Fix Error cascading style while changing at runtime
  src/UraniumUI/Theming/CascadingStyle.cs
Labels: enhancement, infrastructure 🏗️

#213 Update demo app - Add FontIcons
  demo/UraniumApp/AppShell.xaml
  demo/UraniumApp/MauiProgram.cs
  demo/UraniumApp/Pages/FontIconsMaterialPage.xaml
  demo/UraniumApp/Pages/FontIconsMaterialPage.xaml.cs
  demo/UraniumApp/UraniumApp.csproj
  demo/UraniumApp/ViewModels/FontIconsMaterialViewModel.cs
  src/UraniumUI/UraniumUI.csproj
  templates/app-blank/MyCompany.MyProject/MyCompany.MyProject.csproj
Labels: enhancement, project-demo

#214 Update inputkit to `4.2.5`
  src/UraniumUI.Validations.DataAnnotations/UraniumUI.Validations.DataAnnotations.csproj
  src/UraniumUI/UraniumUI.csproj
Labels: infrastructure 🏗️

#211 Add SelectedText for #205
  demo/UraniumApp/Pages/AutoCompleteTextField/GoogleAutoCompletePage.xaml
  src/UraniumUI.Material/Controls/AutoCompleteTextField.cs
  src/UraniumUI.Material/Controls/AutoCompleteView.cs
  src/UraniumUI.Material/Controls/IAutoCompleteView.cs
  src/UraniumUI.Material/Handlers/AutoCompleteViewHandler.Android.cs
Labels: control-autocompleteview

#217 AutoCompleteView Selectedtext platforms implementation
  src/UraniumUI.Material/Handlers/AutoCompleteViewHandler.Apple.cs
  src/UraniumUI.Material/Handlers/AutoCompleteViewHandler.Windows.cs
Labels: feature 🎉, control-autocompleteview

#218 Move AutoCompleteView to UraniumUI from Material Theme
  src/UraniumUI.Material/Controls/AutoCompleteTextField.cs
  src/UraniumUI.Material/UraniumUIMaterialMauiProgramExtensions.cs
  src/UraniumUI/AssemblyInfo.cs
  src/UraniumUI/Controls/AutoCompleteView.cs
  src/UraniumUI/Controls/IAutoCompleteView.cs
  src/UraniumUI/Handlers/AutoCompleteViewHandler.Android.cs
  src/UraniumUI/Handlers/AutoCompleteViewHandler.Apple.cs
  src/UraniumUI/Handlers/AutoCompleteViewHandler.Windows.cs
  src/UraniumUI/Handlers/AutoCompleteViewHandler.cs
  src/UraniumUI/Handlers/Extensions.apple.cs
  src/UraniumUI/MauiProgramExtensions.cs
Labels: enhancement, breaking-change 💔, infrastructure 🏗️, control-autocompleteview

#219 Adapt InputField icons to theme changes
  src/UraniumUI.Material/Controls/InputField.cs
Labels: enhancement, input-field-group, theming 🖌️

#220 Update MAUI version to Service Release 2
  maui.common.props
Labels: infrastructure 🏗️

#224 Update CommunityToolkit to `4.0.0`
  src/UraniumUI.Dialogs.CommunityToolkit/UraniumUI.Dialogs.CommunityToolkit.csproj
Labels: infrastructure 🏗️
