Repository enisn/UraniumUI, pull requests merged in 2023-07, with the labels that each got.

#389 Update MAUI varsion to 7.0.92
  maui.common.props
Labels: enhancement

#390 TabView HeaderWidth
  src/UraniumUI.Material/Controls/TabView.BindableProperties.cs
  src/UraniumUI.Material/Controls/TabView.cs
Labels: enhancement, control-tabview

#392 Update CommunityToolkit.Maui to `5.2.0`
  src/UraniumUI.Dialogs.CommunityToolkit/ServiceCollectionExtensions.cs
  src/UraniumUI.Dialogs.CommunityToolkit/UraniumUI.Dialogs.CommunityToolkit.csproj
  src/UraniumUI.Dialogs.Mopups/MopupsDialogsServiceCollectionExtensions.cs
Labels: enhancement, infrastructure 🏗️

#393 Update InputKit to `4.3.2`
  src/UraniumUI/UraniumUI.csproj
Labels: enhancement, infrastructure 🏗️

#394 Update CommunityToolkit to `5.2.0`
  src/UraniumUI.Dialogs.CommunityToolkit/UraniumUI.Dialogs.CommunityToolkit.csproj
Labels: enhancement, infrastructure 🏗️

#398 Fix nested properties for validation binding
  src/UraniumUI.Validations.DataAnnotations/Validations/ValidationBinding.cs
Labels: enhancement, validations ⚠️

#414 Update dependencies
  src/UraniumUI.Validations.DataAnnotations/UraniumUI.Validations.DataAnnotations.csproj
  src/UraniumUI/UraniumUI.csproj
Labels: infrastructure 🏗️, dependencies

#417 Re-draw inputfield border when size changed
  src/UraniumUI.Material/Controls/InputField.cs
Labels: input-field-group

#418 InputField Border Optimization
  src/UraniumUI.Material/Controls/InputField.cs
Labels: enhancement, input-field-group

#423 #442
  src/UraniumUI.Material/Controls/EditorField.BindableProperties.cs
  src/UraniumUI.Material/Controls/EditorField.cs
Labels: feature 🎉, control-editorfield
