Repository enisn/UraniumUI, pull requests merged in 2023-02, with the labels that each got.

#235 Update InputKit to `4.2.7`
  src/UraniumUI/UraniumUI.csproj
Labels: enhancement

#234 TextField & EditorField `IsReadOnly` fix
  demo/UraniumApp/AppShell.xaml
  demo/UraniumApp/Pages/InputFields/EditorFieldPage.xaml
  demo/UraniumApp/Pages/InputFields/EditorFieldPage.xaml.cs
  demo/UraniumApp/UraniumApp.csproj
  src/UraniumUI.Material/Controls/EditorField.BindableProperties.cs
  src/UraniumUI.Material/Controls/TextField.BindableProperties.cs
Labels: breaking-change 💔, control-textfield, control-editorfield

#239 Add backdrop color to mopup dialogs
  src/UraniumUI.Dialogs.Mopups/MopupsDialogExtensions.cs
Labels: enhancement, core-dialogs

#240 Dialogs Enhancements
  demo/UraniumApp/Pages/DialogsPage.xaml.cs
  src/UraniumUI.Dialogs.CommunityToolkit/CommunityToolkitDialogExtensions.cs
  src/UraniumUI.Dialogs.Mopups/MopupsDialogExtensions.cs
Labels: breaking-change 💔, core-dialogs

#246 Add unit tests to validate #243
  test/UraniumUI.Material.Tests/Attachments/BackdropView_Test.cs
  test/UraniumUI.Material.Tests/Attachments/BottomSheetView_Test.cs
  test/UraniumUI.Material.Tests/Controls/AutoCompleteTextField_Test.cs
  test/UraniumUI.Material.Tests/Controls/DataGrid_Test.cs
  test/UraniumUI.Material.Tests/Controls/EditorField_Test.cs
Labels: test 🧪

#247 fix Android LongPress
  src/UraniumUI/Handlers/StatefulContentViewHandler.cs
Labels: core-statefulcontentview
