Repository enisn/UraniumUI, pull requests merged in 2024-01, with the labels that each got.

#530 MultiplePickerField Binding fix - use same collection always
  src/UraniumUI.Material/Controls/MultipleSelectionField.cs
  test/UraniumUI.Material.Tests/Controls/MultiplePickerField_Test.cs
Labels: control-multiplepickerfield

#531 Update InputKit to 4.4.1
  src/UraniumUI.Validations.DataAnnotations/UraniumUI.Validations.DataAnnotations.csproj
  src/UraniumUI/UraniumUI.csproj
Labels: dependencies

#532 Enhance ServiceProvider for Unit Tests
  src/UraniumUI/UraniumServiceProvider.cs
  test/UraniumUI.Material.Tests/Controls/MultiplePickerField_Test.cs
  test/UraniumUI.Material.Tests/Mocks/MockDialogService.cs
  test/UraniumUI.Tests.Core/ApplicationExtensions.cs
Labels: test 🧪, infrastructure 🏗️

#533 Add new unit tests for TreeView
  src/UraniumUI/UraniumServiceProvider.cs
  test/UraniumUI.Material.Tests/Controls/TreeView_Test.cs
Labels: test 🧪, control-treeview

#534 TreeView arrow fix for RTL
  src/UraniumUI.Material/Controls/TreeViewNodeHolderView.cs
  test/UraniumUI.Tests.Core/ApplicationExtensions.cs
Labels: control-treeview, layout-rtl

#535 Initialize UraniumUI in test mock app
  test/UraniumUI.Tests.Core/ApplicationExtensions.cs
  test/UraniumUI.Tests.Core/UraniumUI.Tests.Core.csproj
Labels: test 🧪

#541 Add events to TabView
  src/UraniumUI.Material/Controls/TabView.cs
Labels: enhancement, control-tabview

#546 Updated material icons font to latest version
  src/UraniumUI.Icons.MaterialIcons/MaterialIcons.cs
  src/UraniumUI.Icons.MaterialIcons/Resources/Fonts/MaterialIcons-Regular.ttf
  src/UraniumUI.Icons.MaterialIcons/Resources/Fonts/MaterialIconsOutlined-Regular.otf
  src/UraniumUI.Icons.MaterialIcons/Resources/Fonts/MaterialIconsRound-Regular.otf
  src/UraniumUI.Icons.MaterialIcons/Resources/Fonts/MaterialIconsSharp-Regular.otf
  src/UraniumUI.Icons.MaterialIcons/Resources/Fonts/MaterialIconsTwoTone-Regular.otf
Labels: project-icons

#553 Enhance default dialog popups
  src/UraniumUI/Dialogs/DefaultDialogService.cs
Labels: enhancement, core-dialogs

#554 Add `IsVisible` property to TabItem
  src/UraniumUI.Material/Controls/TabItem.cs
  src/UraniumUI.Material/Controls/TabView.BindableProperties.cs
  src/UraniumUI.Material/Controls/TabView.cs
  src/UraniumUI.Material/Controls/TabViewCachingStrategy.cs
Labels: feature 🎉, control-tabview
