Repository enisn/UraniumUI, pull requests merged in 2024-09, with the labels that each got.

#752 Include tablets in CalculateSize condition (fixes #750)
  src/UraniumUI.Dialogs.CommunityToolkit/CommunityToolkitDialogExtensions.cs
Labels: enhancement, core-dialogs

#754 Move all DialogService implementations to instance methods
  src/UraniumUI.Dialogs.CommunityToolkit/CommunityToolkitDialogExtensions.cs
  src/UraniumUI.Dialogs.CommunityToolkit/CommunityToolkitDialogService.cs
  src/UraniumUI.Dialogs.CommunityToolkit/CommunityToolkitDialogServiceBase.cs
  src/UraniumUI.Dialogs.Mopups/MopupsDialogExtensions.cs
  src/UraniumUI.Dialogs.Mopups/MopupsDialogService.cs
  src/UraniumUI/Dialogs/DefaultDialogAnimatedContentPage.cs
  src/UraniumUI/Dialogs/DefaultDialogService.cs
  src/UraniumUI/Dialogs/DialogOptions.cs
Labels: enhancement, core-dialogs

#755 Inputfield animation fix
  src/UraniumUI.Material/Controls/InputField.cs
Labels: enhancement, input-field-group

#756 Add `SelectAllTextOnFocus` to TextField
  demo/UraniumApp/Pages/InputFields/TextFieldPage.xaml
  src/UraniumUI.Material/Controls/TextField.BindableProperties.cs
  src/UraniumUI.Material/Controls/TextField.cs
Labels: feature 🎉, control-textfield

#758 Rename `Items` as `Tabs` in TabView
  src/UraniumUI.Material/Controls/TabView.BindableProperties.cs
  src/UraniumUI.Material/Controls/TabView.cs
Labels: enhancement, breaking-change 💔, control-tabview

#760 Use Batch update for InputField borders
  src/UraniumUI.Material/Controls/InputField.cs
Labels: enhancement, input-field-group

#761 Add `ContentAutomationId` to InputField
  src/UraniumUI.Material/Controls/InputField.cs
Labels: enhancement, input-field-group

#765 Update InputKit to `4.4.7`
  src/UraniumUI.Validations.DataAnnotations/UraniumUI.Validations.DataAnnotations.csproj
  src/UraniumUI/UraniumUI.csproj
Labels: dependencies

#767 Add missing properties to InputFields
  src/UraniumUI.Material/Controls/DatePickerField.cs
  src/UraniumUI.Material/Controls/DropdownField.cs
  src/UraniumUI.Material/Controls/InputField.cs
  src/UraniumUI.Material/Controls/PickerField.cs
  src/UraniumUI.Material/Controls/TextField.cs
  src/UraniumUI.Material/Controls/TimePickerField.cs
Labels: enhancement, input-field-group

#768 Wrap MultiplePickerField chips instead horizontal scroll
  demo/UraniumApp/ViewModels/InputFields/MultiplePickerFieldVideModel.cs
  src/UraniumUI.Material/Controls/MultiplePickerField.cs
Labels: enhancement, breaking-change 💔, control-multiplepickerfield

#769 SelfDestruct logic for Chips
  src/UraniumUI.Material/Controls/Chip.cs
  src/UraniumUI.Material/Controls/MultiplePickerField.cs
Labels: enhancement

#771 Fix disabled states in DemoApp
  demo/UraniumApp/Pages/ButtonsPage.xaml
Labels: project-demo

#772 InputField prevent changing BindingContext of descendants
  src/UraniumUI.Material/Controls/InputField.cs
  src/UraniumUI/Controls/ExpanderView.cs
Labels: enhancement, input-field-group

#773 Gradient colors for containers
  demo/UraniumApp/AppShell.xaml
  demo/UraniumApp/AppShell.xaml.cs
  demo/UraniumApp/ThemeChangeViewModel.cs
  src/UraniumUI.Material/Resources/ColorResource.xaml
  src/UraniumUI.Material/Resources/StyleResource.xaml
Labels: theming 🖌️

#774 Arrange apple native arrow colors for dropdown
  src/UraniumUI/Handlers/DropdownHandler.Apple.cs
Labels: enhancement, control-dropdown

#778 Fix Border bindings of InputField
  src/UraniumUI.Material/Controls/InputField.cs
Labels: input-field-group

#779 Align InputField spacing on all platforms
  demo/UraniumApp/App.xaml.cs
  demo/UraniumApp/AppShell.xaml
  demo/UraniumApp/AppShellContentViewModel.cs
  demo/UraniumApp/MauiProgram.cs
  demo/UraniumApp/MemoryLeakDetectEvents.cs
  demo/UraniumApp/Pages/MemoryLeakTestPage.cs
  demo/UraniumApp/Pages/MemoryLeakTestPrePage.xaml
  demo/UraniumApp/Pages/MemoryLeakTestPrePage.xaml.cs
  demo/UraniumApp/ViewModels/MemoryLeakTestPrePageViewModel.cs
  src/UraniumUI.Material/Controls/DatePickerField.cs
  src/UraniumUI.Material/Controls/DropdownField.cs
  src/UraniumUI.Material/Controls/InputField.cs
  src/UraniumUI.Material/Controls/TextField.cs
  src/UraniumUI.Material/Controls/TimePickerField.cs
Labels: enhancement, input-field-group

#783 Handle lazy loading Icon of InputField
  src/UraniumUI.Material/Controls/InputField.cs
Labels: enhancement, input-field-group

#782 Update MultiplePickerField state when selected items changed
  src/UraniumUI.Material/Controls/MultiplePickerField.cs
Labels: control-multiplepickerfield

#784 Remove InputField Windows workaround & use theme bindings
  src/UraniumUI.Material/Controls/InputField.cs
Labels: platform-windows, input-field-group
