Repository enisn/UraniumUI, pull requests merged in 2024-03, with the labels that each got.

#597 AutoCompleteView threshold
  src/UraniumUI.Material/Controls/AutoCompleteTextField.cs
  src/UraniumUI/Controls/AutoCompleteView.cs
  src/UraniumUI/Controls/IAutoCompleteView.cs
  src/UraniumUI/Handlers/AutoCompleteViewHandler.Android.cs
  src/UraniumUI/Handlers/AutoCompleteViewHandler.Apple.cs
  src/UraniumUI/Handlers/AutoCompleteViewHandler.Windows.cs
  src/UraniumUI/Handlers/AutoCompleteViewHandler.cs
Labels: project-core

#598 Handle null SelectedItems in MultiplePickerField
  src/UraniumUI.Material/Controls/MultipleSelectionField.cs
Labels: enhancement, control-multiplepickerfield

#599 Prevent selection change while expanding/collapsing Treeview on Windows
  src/UraniumUI.Material/Controls/TreeViewNodeHolderView.cs
Labels: enhancement, control-treeview

#604 No parallel running tests in pipeline (`dotnet test`)
  azure-pipelines.yml
Labels: test 🧪

#603 Add BindableProperty for DataGrid Column
  src/UraniumUI.Material/Controls/DataGrid.BindableProperties.cs
  src/UraniumUI.Material/Controls/DataGrid.cs
Labels: enhancement, control-datagrid

#627 #373 Focus issues fixes
  src/UraniumUI.Material/Controls/InputField.cs
  src/UraniumUI.Material/Controls/TextField.FocusingWorkaround.cs
Labels: input-field-group

#631 More styling options for InputField & TextField
  docs/en/themes/material/components/InputField.md
  docs/en/themes/material/components/TextField.md
  src/UraniumUI.Material/Controls/InputField.Validation.cs
  src/UraniumUI.Material/Controls/InputField.cs
  src/UraniumUI.Material/Controls/TextField.cs
Labels: control-textfield, input-field-group

#632 TextField SelectionHighlightColor and Font properties
  src/UraniumUI.Material/AssemblyInfo.cs
  src/UraniumUI.Material/Controls/TextField.BindableProperties.cs
  src/UraniumUI.Material/Controls/TextField.cs
  src/UraniumUI.Material/Extensions/EntryProperties.cs
  src/UraniumUI.Material/Resources/StyleResource.xaml
Labels: enhancement, control-textfield

#633 Remove transparency from DatePickerField
  src/UraniumUI.Material/Controls/DatePickerField.cs
Labels: control-datepickerfield

#634 #630 Add style keys
  demo/UraniumApp/App.xaml
  demo/UraniumApp/Resources/Styles/Override.xaml
  demo/UraniumApp/UraniumApp.csproj
  src/UraniumUI.Material/Resources/StyleResource.xaml
Labels: theming 🖌️
