Repository enisn/UraniumUI, pull requests merged in 2024-08, with the labels that each got.

#728 Memory usage optimizations
  demo/UraniumApp/MauiProgram.cs
  demo/UraniumApp/UraniumApp.csproj
  src/UraniumUI.Material/Controls/AutoCompleteTextField.cs
  src/UraniumUI.Material/Controls/CheckBox.cs
  src/UraniumUI.Material/Controls/InputField.Validation.cs
  src/UraniumUI.Material/Controls/InputField.cs
  src/UraniumUI.Material/Controls/PickerField.cs
  src/UraniumUI.Material/Controls/TextField.BindableProperties.cs
  src/UraniumUI.Material/Controls/TextField.cs
  src/UraniumUI.Material/Extensions/EntryProperties.cs
  src/UraniumUI.Validations.DataAnnotations/UraniumUI.Validations.DataAnnotations.csproj
  src/UraniumUI/Converters/StringIsNotNullOrEmptyConverter.cs
  src/UraniumUI/Converters/UraniumConverters.cs
  src/UraniumUI/Pages/UraniumShapes.cs
  src/UraniumUI/UraniumUI.csproj
  src/UraniumUI/ViewExtensions/ViewQuery.cs
  test/UraniumUI.Tests.Core/ApplicationExtensions.cs
Labels: enhancement, infrastructure 🏗️, input-field-group

#734 Register base events for InputField controls
  src/UraniumUI.Material/Controls/AutoCompleteTextField.cs
  src/UraniumUI.Material/Controls/DatePickerField.cs
  src/UraniumUI.Material/Controls/DropdownField.cs
  src/UraniumUI.Material/Controls/EditorField.cs
  src/UraniumUI.Material/Controls/InputField.cs
  src/UraniumUI.Material/Controls/MultipleSelectionField.cs
  src/UraniumUI.Material/Controls/PickerField.cs
  src/UraniumUI.Material/Controls/TextField.cs
  src/UraniumUI.Material/Controls/TimePickerField.cs
Labels: enhancement, input-field-group

#735 Update Docs for MaterialSymbols
  docs/en/theming/Icons.md
Labels: documentation 📄

#737 Fix typo in UraniumContentPage.md
  docs/en/infrastructure/UraniumContentPage.md
Labels: documentation 📄
